---
title: Practice Areas
layout: "layouts/baseof.njk"
tags: "menuMain"
---

<main class="mb-12">
  <div class="flex flex-row flex-wrap justify-around mx-auto">
    <div class="w-full md:w-1/2 p-4  ">
      <h1 class="font-display font-bold text-6xl leading-none mb-2">
        Practice
        <span class="text-green-700">
          Areas
        </span>
      </h1>
      <h2 class="font-display font-bold text-4xl leading-tight mb-2">
        Competent, affordable legal services
      </h2>
      <p class="mb-4">
        I provide legal services for a variety of different needs, including:
      </p>
      <ul class="fa-ul  mb-4">
        <li>
          <span class="fa-li">
            <i class="fas fa-gavel"></i>
          </span>
          Criminal Defense
        </li>
        <li>
          <span class="fa-li">
            <i class="fas fa-car-crash"></i>
          </span>
          Traffic Citations
        </li>
        <li>
          <span class="fa-li">
            <i class="fas fa-file-alt"></i>
          </span>
          Local Business Licensing, including local & state cannabis permitting
        </li>
        <li>
          <span class="fa-li">
            <i class="fas fa-child"></i>
          </span>
          Juvenile Law, including dependency and/or dependency actions
        </li>
      </ul>
      <p class="mb-4">
        Please <a href="/contact/" class="text-green-700">contact me</a> for more
        information or
        <a href="#criminal-defense" class="text-green-700">read more below.</a>
      </p>
    </div>
    <div class="w-full md:w-1/3 p-4">
      {% include "partials/sidebar.njk" %}
    </div>
    <div class="w-full mx-auto">
      <ul class="flex flex-row flex-wrap bg-gray-900 text-gray-100 text-base text-center">
        {% for item in collections.practiceAreas %}
        <li class="bg-gray-900 text-gray-100 p-8 mb-6 px-8 py-8 md:px-16 md:w-1/2 w-full">
          <h2 class="font-display font-bold text-4xl leading-tight">
            {% if item.permalink != false %}
            <a href="{{ item.url }}" class="hover:text-green-200">
              {{ item.data.title }}
            </a>
            {% else %}
            {{ item.data.title }}
            {% endif %}
          </h2>
          <p class="italic">
            {{ item.data.excerpt }}
          </p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  </div>
</main>
