{{ define "main" }}
<main>
    <div class="grid-container">
        <div class="grid-item-1">
            <h1 class="h1">
                Practice 
                <span class="accent-color-main">
                    Areas
                </span>
            </h1>
            <h2 class="h2">
                Competent, affordable legal services
            </h2>
            <p class="measure--md">
                I provide legal services for a variety of different needs, including:
            </p>
            <ul class="fa-ul   measure--sm">
                <li>
                    <span class="fa-li">
                        <i class="fas fa-gavel"></i>
                    </span>
                    Criminal Defense
                </li>
                <li>
                    <span class="fa-li">
                        <i class="fas fa-car-crash"></i>
                    </span>
                    Traffic Citations
                </li>
                <li>
                    <span class="fa-li">
                        <i class="fas fa-file-alt"></i>
                    </span>
                    Local Business Licensing, including local & state cannabis permitting
                </li>
                <li>
                    <span class="fa-li">
                        <i class="fas fa-child"></i>
                    </span>
                    Juvenile Law, including dependency and/or dependency actions
                </li>
            </ul>
            <p class="measure--md">
                Please <a href="/contact/" class="anchor--dark">contact me</a> for more information or <a href="#criminal-defense" class="anchor--dark">read more below.</a>
            </p>
        </div>
        <div class="grid-item-2">
            <div class="card card__body   bg-dark">
                <h2 class="accent-color-main   h2">
                    I offer legal services in the following counties:
                </h2>
                <ul class="fa-ul">
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Los Angeles</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Orange</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>San Bernardino</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Riverside</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>San Diego</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Ventura</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Santa Barbara</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Kern</li>
                </ul>
            </div>
        </div>
        <div class="grid-item-3 flex-container--lg">
            <div id="criminal-defense" class="card--alt card__body   flex-column stack   measure--md">
                <i class="fas fa-gavel fa-2x   bold-main"></i>
                <h2 class="border-bottom    h2">
                    Criminal Law
                </h2>
                <p class="measure--md">
                    Clients seeking to expunge their criminal records and/or reduce felony convictions under CA Proposition 47 are also encouraged to speak with my firm.
                </p>
            </div>
            <div class="card--alt card__body   flex-column stack   measure--md">
                <i class="fas fa-child fa-2x    bold-main"></i>
                <h2 class="border-bottom   h2">
                    Juvenile Law
                </h2>
                <p class="measure--md">
                    As a graduate/fellow in Whittier Law School's Center for Children's Rights and a former editor of the Whittier Journal of Children and Family Advocacy, the world of Juvenile Law (Dependency and Delinquency) is very close to my heart.
                </p>
                <p class="measure--md">
                    Look to my firm if you are a parent, de-facto parent, or guardian worried about the effects of a dependency petition on your rights, or a child facing the severe world of our delinquency system.
                </p>
            </div>
        </div>
    </div>
</main>
{{ end }}