// Breakpoints
$bp-small: 48rem; // 768px
$bp-medium: 64rem; // 1024px
$bp-large: 85.375rem; // 1366px
$bp-xlarge: 120rem; // 1920px
$bp-xxlarge: 160rem; // 2560px

// Media Queries
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

// Font-Size
$base-font-size: 1rem;
$main-font-family: Roboto, "Open Sans", sans-serif;

// Line-Height
$base-line-height: 1.75;
$header-line-height: 1.15;

$main-color: #55883b;
$main-color-muted: #40662c;
$main-color-bright: #6a9754;
$main-bg: #ecf0f1;
$main-font-color: #454545;
$dark-bg: #242424;
