<!DOCTYPE html>
<html lang="en">
{% include "partials/head.njk" %}

<body class="box-border bg-gray-100 text-gray-900 text-base md:text-xl antialiased leading-relaxed "
  style="scroll-behavior: smooth;">
  {% include "partials/header.njk" %}
  <!--  -->
  {{ content | safe }}
  <!--  -->
  {% include "partials/footer.njk" %}
  <script>
    let menuToggle = document.querySelector("#menu-toggler");
    let html = document.querySelector("html");
    let menuContent = document.querySelector(".nav__content");
    let menuToggleIcon = menuToggle.children;

    document.addEventListener("DOMContentLoaded", () => {
      html.classList.toggle("js");
    });

    menuToggle.addEventListener("click", function () {
      menuContent.classList.toggle("hidden");
      if (!menuContent.classList.contains("hidden")) {
        menuToggle.setAttribute("aria-expanded", "true");
      } else {
        menuToggle.setAttribute("aria-expanded", "false");
      }
    });

  </script>
</body>

</html>
