---
layout: "layouts/baseof.njk"
---

<main class="mb-12">
  <div class="flex flex-row flex-wrap justify-around items-start mx-auto">
    <div class="p-2 w-full md:w-1/2 mb-6">
      <header class="mb-4 ">
        <h1 class="text-4xl font-display font-bold leading-tight">
          <a href="{{ page.url }}" class="hover:text-green-800">
            {{ title }}
          </a>
          </h2>
          <small>posted on {{ page.date | readableDate}}</small>
      </header>
      <div class="markdown">
        {{ content | safe }}
      </div>
    </div>
    <div class="w-full md:w-1/3 p-8 bg-gray-900 rounded-lg shadow-lg text-gray-100">
      {% include "partials/contact.njk" %}
    </div>
  </div>
</main>
{{ end }}
