<footer class="bg-dark">
    <div class="container">
        <h1 class="h1">
            Practice Information
        </h1>
        <p class="measure--sm">
            Email: <a href="mailto:cannabarrister@gmail.com" class="anchor--bright">
                cannabarrister@gmail.com
            </a>
        </p>
        <p class="measure--sm">
            Phone: <a href="tel:" class="anchor--bright">
                562-704-6071
            </a>
        </p>
        <p class="measure--sm">
            Mailing Address:<br>
            PO Box 20593<br>
            Long Beach, CA 90802
        </p>
        <h2 class="h2">
            Policies & Terms
        </h2>
        <p class="accent-color-main   measure--sm">
            <a href="/disclaimer/" class="anchor--bright">
                Disclaimer
                <i class="fas fa-arrow-right"></i>
            </a>
        </p>
        <p class="measure--sm">
            Copyright &copy; 2019 The Law Offices of Stefan Borst-Censullo. All rights reserved.
        </p>
    </div>
</footer>