<nav role="navigation" class="navbar   bg-dark">
    <a href="/" class="">
        <img src="/images/stefanlogo_edit.png" height="30px" alt="A logo displaying a cannabis leaf above a set of traditional scales (the scales of justice)">     
    </a>
    <button class="menu-toggler" type="button" id="menu-toggler">
        <span class="block">Menu</span>
        <i class="fas fa-bars"></i>
    </button>
    
    <ul class="nav__links nav__content">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li class="nav__link">
            <a href="{{ .URL }}" class="{{ if ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active {{ end }}nav__link">
                {{ .Name | safeHTML }}
            </a>
        </li>
        {{ end }}
    </ul>
</nav>