{{ define "main" }}
<main>
    <div class="grid-container">
        <div class="grid-item-1">
            <h1 class="h1">
                Welcome
            </h1>
            <p class="measure--md">
                I am an attorney at law offering competent, affordable legal defense across the Southern California area.
            </p>
            <div>
                <h2 class="h2">
                    Fighting for 
                    <span class="accent-color-main">
                        You
                    </span>
                </h2>
                <p class="measure--md">
                    I work zealously for clients of all economic, racial, and ethnic backgrounds (as well as people of all sexual orientations and gender identities) as they face extraordinarily difficult challenges in our courts. 
                </p>
                <h2 class="h2">
                    Fighting for 
                    <span class="accent-color-main">
                        Social Justice
                    </span>
                </h2>
                <p class="measure--md">
                    I am driven by the cause of upholding human rights and the need to preserve social justice inside of our legal system. With access to the courts often conditional on wealth, too many disadvantaged people see their legal rights ignored. My firm will work with clients to reduce economic barriers to achieving justice.
                </p>
            </div>
        </div>
        <div class="grid-item-2 flex-container--sm"> 
            <div class="card card__body   bg-dark">
                <h2 class="h2">
                    <a href="/practice-areas/" class="header-link">
                        Practice Areas
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </h2>
                <ul class="fa-ul">
                    <li>
                        <span class="fa-li">
                            <i class="fas fa-gavel"></i>
                        </span>
                        Criminal Defense
                    </li>
                    <li>
                        <span class="fa-li">
                            <i class="fas fa-car-crash"></i>
                        </span>
                        Traffic Citations
                    </li>
                    <li>
                        <span class="fa-li">
                            <i class="fas fa-file-alt"></i>
                        </span>
                        Local Business Licensing, including local & state cannabis permitting
                    </li>
                    <li>
                        <span class="fa-li">
                            <i class="fas fa-child"></i>
                        </span>
                        Juvenile Law, including dependency and/or dependency actions
                    </li>
                </ul>
            </div>
            <div class="card card__body   bg-dark">
                <h2 class="h2">
                    <a href="/contact/" class="header-link">
                        Contact Me
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </h2>
                <p class="measure--md">
                    If you are looking for competent, affordable, legal services, please contact me to schedule a free consultation.
                </p>
            </div>
        </div>  
        <div class="grid-item-3">
            <h1 class="h1">
                Testimonials
            </h1>
            <div class="flex-container--lg">
                <div class="card--alt card__body stack   measure--md">
                    <h2 class="h2">
                        "E" 
                        <small class="accent-color-main">
                            Los Angeles client
                        </small>
                    </h2>
                    <p>
                        <em>
                            <span class="bold-color-main    opener   h3">
                                Stefan walked me through a pretty severe crisis.
                            </span> 
                            It was his first time tackling a case such as mine. He consulted a number of trusted colleagues to better discover our options, and I ended up getting a pretty easy settlement. I don’t know where I’d be if I didn’t have him on my team.
                        </em>
                    </p>
                </div>
                <div class="card--alt card__body stack   measure--md">
                    <h2 class="h2">
                        "B", 
                        <small class="accent-color-main">
                            Inglewood client
                        </small>
                    </h2>
                    <p>
                        <em>
                            <span class="bold-color-main   opener   h3">
                                "Stefan Borst-Censullo went above and beyond for my father’s case.
                            </span> 
                            Even though he was only hired on for the day to do an appearance for my attorney, he willingly stayed for several hours until we were able to come to a good agreement/resolution. Very happy that we now have the opportunity to get a dismissal on the case. Thank you, Stefan! Highly recommended...A+ service!" 
                        </em>
                    </p>
                </div>
            </div>
            <div class="flex-container--lg">
                <div class="card--alt card__body stack   measure--md">
                    <h2 class="h2">
                        Will Sun, 
                        <small class="accent-color-main">
                            CEO at Curated Cannabis
                        </small>
                    </h2>
                    <p>
                        <em>
                            <span class="bold-color-main    opener   h3">
                                "Stefan has been counsel to Curated Cannabis for the past 18 months,
                            </span> 
                            helping us transition from a Prop 215 collective to a Prop 64 licensed commercial cannabis company.  Stefan helped us secure our processor license (first in Orange County), distributor license (first in Orange County), and manufacturing license.  He's both a pro and an unabashed cannabis enthusiast.   Stefan is our first call on all legal, regulatory, and political matters." 
                        </em>
                    </p>
                </div>
            </div>
            <h1 class="h1">
                About Me
            </h1>
            <p class="measure--lg">
                <img src="images/stefan.png" class="img-float--right" width="150px">In 2014, after many years of working in the political and activist sectors, I opened this firm with the intent of providing legal services to the most vulnerable people in Long Beach and throughout Southern California.
            </p>
            <p class="measure--lg">
                Growing up in Birmingham, Alabama, attending college in Boston, Massachusetts, and starting my professional life in Memphis, Tennessee taught me about the constant (and at times tragic) struggle for equality and justice in and outside of our judicial system.
            </p>
            <p class="measure--lg">
                I was raised all over this country, but mainly in some of America’s most economically disadvantaged and racially segregated cities.
            </p>
        </div>
    </div>
</div>
</main>
{{ end }}