---
title: Contact
layout: "layouts/baseof.njk"
tags: "menuMain"
---

<div class="grid-container">
  <div class="grid-item-1">
    {% include "partials/contact.njk"%}
  </div>
  <div class="grid-item-2">
    <div class="card card__body    bg-dark">
      <h2 class="h1">
        Practice Information
      </h2>
      <p class="measure--sm">
        Email:
        <a href="mailto:cannabarrister@gmail.com" class="anchor--bright">
          cannabarrister@gmail.com
        </a>
      </p>
      <p class="measure--sm">
        Phone:
        <a href="tel:" class="anchor--bright">
          562-704-6071
        </a>
      </p>
      <p class="measure--sm">
        Mailing Address:<br />
        PO Box 20593<br />
        Long Beach, CA 90802
      </p>
    </div>
    {% include "partials/sidebar.njk" %}
  </div>
</div>
