---
title: Contact
layout: "layouts/baseof.njk"
tags: "menuMain"
---

<main>
  <div class="flex flex-row flex-wrap justify-around mx-auto">
    <div class="p-4 w-full md:w-1/2 mb-6">
      {% include "partials/contact.njk"%}
    </div>
    <div class="w-full md:w-1/3 p-4">
      <div class="bg-gray-900 text-gray-100 p-8 rounded-lg shadow-xl mb-6">
        <h2 class="text-4xl font-display mb-2 leading-tight">
          Practice Information
        </h2>
        <ul>
          <li class="">
            Email:
            <a href="mailto:cannabarrister@gmail.com" class="hover:text-green-200">
              cannabarrister@gmail.com
            </a>
          </li>
          <li class="">
            Phone:
            <a href="tel:" class="hover:text-green-200">
              562-704-6071
            </a>
          </li>
          <li class="measure--sm">
            Mailing Address:<br />
            PO Box 20593<br />
            Long Beach, CA 90802
          </li>

        </ul>
      </div>
      {% include "partials/sidebar.njk" %}
    </div>
  </div>

</main>
