---
title: Terms and Conditions
layout: "layouts/baseof.njk"
eleventyExcludeFromCollections: true
---

<main class="mb-12">
  <div class="flex flex-row flex-wrap justify-around mx-auto">
    <div class="w-full md:w-1/2 p-2 mb-6">
      <h1 class="font-display font-bold text-4xl leading-tight mb-2">Disclaimer</h1>
      <p class="mb-4">
        The information contained in this Website is provided for informational
        purposes only, and should not be construed as legal advice on any
        subject matter. No recipients of content from this site, clients or
        otherwise, should act or refrain from acting on the basis of any content
        included in the site without seeking the appropriate legal or other
        professional advice on the particular facts and circumstances at issue
        from an attorney licensed in the recipient’s state. The content of this
        Website contains general information and may not reflect current legal
        developments, verdicts or settlements. The Firm expressly disclaims all
        liability in respect to actions taken or not taken based on any or all
        the contents of this Website.
      </p>
      <p class="mb-4">
        Any information sent to The Firm by Internet e-mail or through the
        Website is not secure and is done so on a non-confidential basis.
        Transmission of information from this Website does not create an
        attorney-client relationship between you and The Firm, nor is it
        intended to do so. The transmission of the Website, in part or in whole,
        and/or any communication with us via Internet e-mail through this site
        does not constitute or create an attorney-client relationship between us
        and any recipients.
      </p>
      <p class="mb-4">
        Some links within the Website may lead to other web-sites, including
        those operated and maintained by third parties. The Firm includes these
        links solely as a convenience to you, and the presence of such a link
        does not imply a responsibility for the linked site or an endorsement of
        the linked site, its operator, or its contents.
      </p>
      <p class="mb-4">
        This Website and its contents are provided “AS IS” without warranty of
        any kind, either expressed or implied, including, but not limited to,
        the implied warranties of merchantability, fitness for a particular
        purpose, or non-infringement.
      </p>
      <p class="mb-4">
        Furthermore, The Firm does not wish to represent anyone desiring
        representation based upon viewing this Website in a state where this
        Website fails to comply with all laws and ethical rules of that state.
      </p>
      <p class="mb-4">
        Reproduction, distribution, republication, and/or retransmission of
        material contained within The Firm Website is prohibited unless the
        prior written permission of The Firm has been obtained.
      </p>
    </div>
    <div class="w-full md:w-1/3">
      {% include "partials/sidebar.njk" %}
    </div>
  </div>
</main>
