---
title: Terms and Conditions
layout: "layouts/baseof.njk"
eleventyExcludeFromCollections: true
---

<main>
  <div class="grid-container">
    <div class="grid-item-1   measure--md">
      <h1 class="h1">Disclaimer</h1>
      <p>
        The information contained in this Website is provided for informational
        purposes only, and should not be construed as legal advice on any
        subject matter. No recipients of content from this site, clients or
        otherwise, should act or refrain from acting on the basis of any content
        included in the site without seeking the appropriate legal or other
        professional advice on the particular facts and circumstances at issue
        from an attorney licensed in the recipient’s state. The content of this
        Website contains general information and may not reflect current legal
        developments, verdicts or settlements. The Firm expressly disclaims all
        liability in respect to actions taken or not taken based on any or all
        the contents of this Website.
      </p>
      <p>
        Any information sent to The Firm by Internet e-mail or through the
        Website is not secure and is done so on a non-confidential basis.
        Transmission of information from this Website does not create an
        attorney-client relationship between you and The Firm, nor is it
        intended to do so. The transmission of the Website, in part or in whole,
        and/or any communication with us via Internet e-mail through this site
        does not constitute or create an attorney-client relationship between us
        and any recipients.
      </p>
      <p>
        Some links within the Website may lead to other web-sites, including
        those operated and maintained by third parties. The Firm includes these
        links solely as a convenience to you, and the presence of such a link
        does not imply a responsibility for the linked site or an endorsement of
        the linked site, its operator, or its contents.
      </p>
      <p>
        This Website and its contents are provided “AS IS” without warranty of
        any kind, either expressed or implied, including, but not limited to,
        the implied warranties of merchantability, fitness for a particular
        purpose, or non-infringement.
      </p>
      <p>
        Furthermore, The Firm does not wish to represent anyone desiring
        representation based upon viewing this Website in a state where this
        Website fails to comply with all laws and ethical rules of that state.
      </p>
      <p>
        Reproduction, distribution, republication, and/or retransmission of
        material contained within The Firm Website is prohibited unless the
        prior written permission of The Firm has been obtained.
      </p>
    </div>
    <div class="grid-item-2 flex-container--sm">
      <div class="card card__body   bg-dark   measure--md">
        <h2 class="h2">
          <a href="/practice-areas/" class="header-link">
            Practice Areas
            <i class="fas fa-arrow-right"></i>
          </a>
        </h2>
        <ul class="fa-ul   list-spacing">
          <li>
            <span class="fa-li">
              <i class="fas fa-gavel"></i>
            </span>
            Criminal Defense
          </li>
          <li>
            <span class="fa-li">
              <i class="fas fa-car-crash"></i>
            </span>
            Traffic Citations
          </li>
          <li>
            <span class="fa-li">
              <i class="fas fa-file-alt"></i>
            </span>
            Local Business Licensing, including local & state cannabis
            permitting
          </li>
          <li>
            <span class="fa-li">
              <i class="fas fa-child"></i>
            </span>
            Juvenile Law, including dependency and/or dependency actions
          </li>
        </ul>
      </div>
      <div class="card card__body   bg-dark   measure--md">
        <h2 class="h2">
          <a href="/contact/" class="header-link">
            Contact Me
            <i class="fas fa-arrow-right"></i>
          </a>
        </h2>
        <p class="measure--md">
          If you are looking for competent, affordable, legal services, please
          contact me to schedule a free consultation.
        </p>
      </div>
      <div class="card card__body   bg-dark">
        <h2 class="accent-color-main   h2">
          I offer legal services in the following counties:
        </h2>
        <ul class="fa-ul   list-spacing">
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>Los Angeles
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>Orange
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>San
            Bernardino
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>Riverside
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>San Diego
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>Ventura
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>Santa Barbara
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>Kern
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
