{% for item in collections.about %}
<div class="grid-container   ">
  <div class="grid-item-1   card card__body    bg-dark">
    <h2 class="h1   accent-color-main">About Me</h2>
    {{ item.templateContent | safe }}
  </div>
  <div class="grid-item-2   ">
    <figure>
      <img
        src="{{ item.data.aboutImage }}"
        alt="{{ item.data.aboutImageDescription }}"
        width="100%"
      />
      <!-- <figcaption class="display--1">
        Stefan BC
      </figcaption> -->
    </figure>
  </div>
</div>
{% endfor %}
