{% for item in collections.about %}
<div class="grid-container   card card__body    bg-dark">
  <div class="grid-item-1   ">
    <h2 class="h1   accent-color-main">About Me</h2>
    {{ item.templateContent | safe }}
  </div>
  <div class="grid-item-2   ">
    <figure>
      <img
        src="{{ item.data.aboutImage }}"
        alt="{{ item.data.aboutImageDescription }}"
        width="100%"
        class="rounded"
      />
      <figcaption class="h3   text-center">
        Don't wait to get proper legal representation.
        <a href="/contact/" class="anchor--bright">Contact me now</a> for a free
        consultation, and let's get to work.<br />
        <span class="accent-color-main">- Stefan BC</span>
      </figcaption>
    </figure>
  </div>
</div>
{% endfor %}
