<footer class="bg-gray-900 text-gray-100 p-8">
  <div class="flex flex-row flex-wrap">
    <div class="w-full md:w-1/2">
      <h2 class="font-display font-bold text-4xl leading-tight mb-2">
        Practice Information
      </h2>
      <ul>
        <li class="">
          Email:
          <a href="mailto:cannabarrister@gmail.com" class="text-green-200">
            cannabarrister@gmail.com
          </a>
        </li>
        <li class="">
          Phone:
          <a href="tel:" class="text-green-200">
            562-704-6071
          </a>
        </li>
        <li class="">
          Mailing Address:<br />
          PO Box 20593<br />
          Long Beach, CA 90802
        </li>

      </ul>
    </div>
    <div class="w-full md:w-1/2">
      <h2 class="font-display font-bold text-4xl leading-tight mb-2">
        Policies & Terms
      </h2>
      <p class="text-green-200 ">
        <a href="/disclaimer/" class="">
          Disclaimer
          <i class="fas fa-arrow-right"></i>
        </a>
      </p>
      <small class="">
        Copyright &copy; 2019 The Law Offices of Stefan Borst-Censullo. All
        rights reserved.
      </small>
    </div>
  </div>
</footer>
