<header class="bg-dark">
  <div class="site-title   grid-container">
    <span class="display--2   grid-item-1">
      <a href="/" class="anchor--inherit-style">
        The Law Office of
        <br />
        <span class="border-bottom   display--1">
          Stefan Borst-Censullo
        </span>
      </a>
    </span>
    {% include "partials/navigation.njk" %}
  </div>
</header>
