<head>
  <title>{{ title }}</title>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <link rel="stylesheet" href="/styles/main.css" />
  <link
    href="https://fonts.googleapis.com/css?family=Oswald|Roboto&display=swap"
    rel="stylesheet"
  />
  <meta
    name="description"
    content="I am an attorney at law offering competent, affordable legal defense for clients of all economic, racial, and ethnic backgrounds across the Southern California area."
  />
  <link href="/images/stefan.jpg" rel="shortcut icon" type="image/ico" />

  <link href="https://stefanbc.com" rel="canonical" />
  <script
    src="https://kit.fontawesome.com/ee98754881.js"
    crossorigin="anonymous"
    defer
  ></script>
</head>
