<header class="w-full bg-gray-900 text-gray-100 p-6 mb-6">
  <div class="w-full ">
    <p class="text-6xl leading-none my-6">
      <a href="/" class="font-display">
        The Law Office of<br />
        <span class="border-b-4 border-green-200">Stefan Borst-Censullo</span>
      </a>
    </p>
    {% include "partials/navigation.njk" %}
  </div>
</header>
