<div class="bg-gray-900 text-gray-100 p-8 rounded-lg shadow-xl mb-6">
  <h2 class="text-4xl font-display mb-2 leading-tight">
    <a href="/practice-areas/" class="hover:text-green-200">
      Practice Areas
      <i class="fas fa-arrow-right"></i>
    </a>
  </h2>
  <ul class="fa-ul   list-spacing">
    {% for item in collections.practiceAreas %}
    <li>
      <h3 class="">
        <a href="{{ item.url }}" class="hover:text-green-200">
          {{ item.data.title }}
          <i class="fas fa-arrow-right"></i>
        </a>
      </h3>
    </li>
    {% endfor %}
    <li>
      <h3 class="margin--narrow">
        <span class="fa-li">
          <i class="fas fa-file-alt"></i>
        </span>
        Local Business Licensing, including local & state cannabis permitting
      </h3>
    </li>
    <li>
      <h3 class="margin--narrow">
        <span class="fa-li">
          <i class="fas fa-child"></i>
        </span>
        Juvenile Law, including dependency and/or dependency actions
      </h3>
    </li>
  </ul>
</div>
<div class="bg-gray-900 text-gray-100 p-8 rounded-lg shadow-xl mb-6">
  <h2 class="text-4xl font-display mb-2 leading-tight">
    <a href="/contact/" class="hover:text-green-200">
      Contact Me
      <i class="fas fa-arrow-right"></i>
    </a>
  </h2>
  <p class="mb-4">
    If you are looking for competent, affordable, legal services, please contact
    me to schedule a free consultation.
  </p>
</div>
