<div class="bg-gray-900 text-gray-100 p-4 ">
  <h2 class="text-center text-4xl md:text-6xl font-display font-bold leading-tight mb-4">
    Testimonials
  </h2>
  <ul class="flex flex-row flex-wrap">
    {% for item in collections.testimonials %}
    <li class="px-8 py-8 md:px-16 md:w-1/2 ">
      <h3 class="font-display text-2xl leading-tight mb-4">
        {{ item.data.title }} &mdash;
        {% if item.data.excerpt %}
        <span class="leading-tight text-green-200">
          {{ item.data.excerpt }}
        </span>
        {% endif %}
      </h3>
      <div class="text-base mb-2 italic">

        {{ item.templateContent | safe }}
      </div>
      <span class="font-display font-bold ">
        {{ item.data.clientName }} &mdash;
        <small class="text-green-200">
          {{ item.data.clientDescription }}
        </small>
      </span>
    </li>
    {% endfor %}
  </ul>

</div>
