<div class="grid-item-3    ">
  <h2 class="h1">
    Testimonials
  </h2>
  <div class="grid-container--auto">
    {% for item in collections.testimonials %}
    <div class="card--alt card__body    bg-light--gradient">
      <h3 class="margin--narrow">
        {{ item.data.title }}
        {% if item.data.excerpt %}
        <span class="margin--narrow   opener   h2   accent-color-main">
          {{ item.data.excerpt }}
        </span>
        {% endif %}
      </h3>
      {{ item.templateContent | safe }}
      <span class="h2 margin--narrow">
        {{ item.data.clientName }}
        <small class="accent-color-main">
          {{ item.data.clientDescription }}
        </small>
      </span>
    </div>
    {% endfor %}
  </div>
  {% include "partials/about.njk" %}
</div>
